/* Start Form */
/* body {
    position: relative;
}
form {
    position: relative;
}
.footer::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--secound-color);
    margin-bottom: 15px;
} */
/* End Form */
/* .footer {
    position: relative;
    z-index: 2;
} */