body {
    font-family: "Roboto", sans-serif;
    background-image: url("../images/background.jfif");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
:root {
    --logo-color: #fdb90e;
    --first-color: #304e95;
    --secound-color: #ddd;

}
a {
    text-decoration: none;
}
.register {
    width: 400px;
    /* height: 600px; */
    border: 5px solid var(--logo-color);
    background-color: white;
}

